{% macro list (section) %}
  <ul>
    {% if section.context is defined %}
      <li><strong>Context: </strong>{{ section.context }}</li>
    {% endif %}
    {% for value in section.values %}
      <li><strong>{{ value.name }}: </strong>
      {% if value.type == 'string' %}
        <code>"{{ value.value }}"</code>
      {% elseif value.type == 'json' %}
        <pre>{{ value.value }}</pre>
      {% elseif value.type == 'sub-list' %}
        {{ _self.list({'values': value.value}) }}
      {% else %}
        <code>{{ value.value }}</code>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<ul>
{% for section in sections %}
  <li>
  <h2>{{ section.title }}</h2>
  {% if section.sub_title is defined %}
  <p>{{ section.sub_title }}</p>
  {% endif %}
    {{ _self.list(section) }}
  </li>
{% endfor %}
  </ul>
